.panel{
    border-left: solid 1px #d4d5d7;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.settings :global(.bp5-tab-list) {
    background-color: white;
    height: 580px;
}

.settings :global(.bp5-heading) {
    padding: 5px;
}

.card-panel {
    background: inherit;
    border: none;
    box-shadow: none;
    padding: 0 5px;
    max-height: 560px;
    overflow-y: auto;
}

.card-setting-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 1rem;
    border-bottom: 0.0625rem solid #d1d9e0b3;
    padding-bottom: 0.5rem;
}

.text-green {
    color: #32A467;
}

.text-red {
    color: #E76A6E;
}