:root {
    /* Define your theme colors for easy switching */
    --menu-bg: #252526;
    --menu-color: #d4d4d4;
    --menu-border: #3c3c3c;
    --menu-hover-bg: #094771;
    --palette-left: "100px"
}

.mouse-pointer {
    cursor: pointer;
}

.file-tree :global(.bp5-tree-node-caret-none) {
    display: none;
}

.file-tree :global(.bp5-tree-node-content) .file-tree-icon {
    margin-right: 5px;
}

.file-tree :global(.bp5-tree-node) .file-tree-icon {
    filter: brightness(0.9);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
    margin-right: 5px;
}

.file-tree :global(.bp5-tree-node):global(.bp5-intent-warning) {
    background-color: #734d0a;
    color: #ffa900;
}

.file-tree :global(.bp5-tree-node-selected) .file-tree-icon {
    filter: brightness(1) invert(1);
}

.file-tree :global(.bp5-tree-node):global(.bp5-tree-node-selected) > :global(.bp5-tree-node-content) {
    background-color: #2c4f98 !important; /* VS Code's tab blue */
    color: white;
}

.file-tabs {
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 4px 10px;
    border-bottom: 1px solid #444;
    overflow-x: scroll;
}

.file-tab-tooltip {
    background: #bbb;
    border-radius: 5px 5px 0 0;
}

.file-tab-marker {
    text-decoration: underline 1px wavy #ff0033;
}

.file-tab {
    background: #333;
    margin-right: 6px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: #bbb;
    transition: all 0.3s;
}
.file-tab:hover {
    background: #444;
}

.file-tab.active {
    background: #1e1e1e; /* Match editor's background */
    color: white;
    font-weight: bold;
    border-bottom: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.close-tab-btn {
    font-weight: bold;
    cursor: pointer;
    color: #bbb;
}

.close-tab-btn:hover {
    color: white;
}

.editor-container {
    background: #1e1e1e; /* Same as active tab */
    padding: 10px;
}

/* Fixed Header (Non-Resizable) */
.editor-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Left | Center | Right */
    align-items: center;
    padding: 0;
    background: #2e2e2e;
    border-bottom: 1px solid #444;
}

.editor-header-search {
    background: #3a3a3a;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    outline: none;
}

.editor-header-search::placeholder {
    color: #aaa;
}

.editor-header-search:hover {
    border: 1px solid black;
    cursor: pointer;
    background-color: #f7f7f7;
}

/* Align left and right sections */
.editor-header-left {
    text-align: right; /* Align content inside to the right */
    padding-right: 10px;
}

.editor-header-center {
    display: flex;
    justify-content: center;
}

.editor-header-right {
    text-align: right;
    padding-left: 10px;
    color: #ccc;
    font-size: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 5px auto; /* File Explorer | Gutter | Editor */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.inner-files-deploy-grid {
    display: grid;
    grid-template-rows: 470px 5px auto;
    height: 100%;
    min-height: 0;
}

.inner-editor-terminal-grid {
    display: grid;
    grid-template-rows: 570px 5px auto;
    height: 100%;
    min-height: 0;
}

.file-explorer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    background: #333;
}

.code-editor-build-output-terminal {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    background: #333;
}

.code-deploy-actions {
    background: #333;
    padding: 20px;
}

.code-editor {
    flex-grow: 1;  /* Code editor takes available space */
    overflow: hidden;
}

.build-output-terminal {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.terminal-output-console {
    background: #333;
    padding: 20px;
    height: 100%; /* Ensure it takes full height in the split section */
    overflow: hidden;
}

.gutter-col {
    background: #ccc;
    cursor: col-resize;
    user-select: none;
}

.gutter-row {
    background: #ccc;
    cursor: row-resize;
    user-select: none;
}

.gutter-row-editor-terminal {
    background: #ccc;
    cursor: row-resize;
    user-select: none;
}

.build-output-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height within split panel */
    overflow: hidden;
}

.build-output-tabs-container {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 10;
    padding: 8px;
}

.build-output-panel {
    flex-grow: 1; /* Expands dynamically */
    overflow-y: auto; /* Scrolls only when needed */
    min-height: 0; /* Prevents layout issues */
    padding: 8px;
}

.file-dialog-component {
    background: var(--menu-border);
}

.file-dialog-component :global(.bp5-input-group) {
    margin-top: 10px;
    margin-bottom: 5px;
}

.file-dialog-component :global(input) {
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: initial;
    background: var(--menu-border);
    color: white;
    padding-left: 37px !important;
    font-size: 1.1rem;
}

.file-dialog-component :global(input):focus {
    outline: none 0 !important;
    -moz-outline-radius: 0;
}

.file-dialog-component :global(input)::placeholder {
    color: #aaa;
}

.file-dialog-component .new-file-options-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.6rem;
    cursor: pointer;
    overflow-y: auto;
    max-height: 100px;
}

.file-dialog-component .new-file-option {
    color: white;
}

.file-dialog-component .new-file-option.selected {
    background-color: var(--menu-hover-bg);
}

.alert-delete {
    background: var(--menu-border);
}

.versions-scrollable-dropdown {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
}

.contexify_theme-dark {
    --contexify-menu-bgColor: #c5c2c2;
    --contexify-separator-color: #aaaaaa;
    --contexify-item-color: #fff;
    --contexify-activeItem-color: #fff;
    --contexify-activeItem-bgColor: var(--menu-hover-bg);
    --contexify-rightSlot-color: #ffffff;
    --contexify-activeRightSlot-color: #fff;
    --contexify-arrow-color: #ffffff;
    --contexify-activeArrow-color: #fff;
    font-size: 0.8rem;
    --contexify-menu-radius: 4px;
    --contexify-menu-padding: 4px;
    --contexify-menu-minWidth: 150px;
}


:global(.contexify_submenu) {
    max-height: 250px;
    overflow-y: auto;
}

